doctype html
html
  head
    meta(charset='utf-8')
    title Second Harvest Animation
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Second Harvest Animation
    nav
      ul
        li: a(href='/') Home

    block content

    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='/js/vendor/jstween-1.1.js')
    script(src='/js/user/main.js')
